* {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: "Verdana";
}

.header {

}

.header__nav {
    height: 10vh;
    background: url("./../img/sky.jpg");
    width: 100%;
}

.menu {
    float: right;
    margin-top: 5vh;
}

.menu__list {

}

.menu__item {
    display: inline-block;
}

.menu__link {
    color: white;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    margin-right: 10px;
}

.menu__link:hover {
    backface-visibility: rgba(255, 255, 255, 0.8);
    color: #333;
}

.articles {
    width: 700px;
    margin: 0 auto;
    display: block;
}

.article {
    clear: both;
    margin-top: 50px;
    padding-bottom: 100px;
}

.article__header {
    float: left;
    width: 50%;
}

.article__header--title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 2%;
}

.article__header--image {
    width: 90%;
    margin-left: 5%;
}

.article__text {
    float: right;
    width: 50%;
    padding: 50px;
    text-align: justify;
    line-height: 25px;
}

.article:nth-child(even) .article__header {
    float: right;
}

.article:nth-child(even) .article__text {
    float: left;
}

.article::after {
    clear: both;
    content: "";
    display: block;
}

.figures {
    width: 900px;
    margin: 0 auto;
    display: flex;
}

.figure {
    display: inline-block;
    margin: 0 auto;
    height: inherit;
    padding-bottom: 100px;
}

.figure__image {
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 100%;
}

.figure__text {
    width: 150px;
    padding-top: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    display: none;
}

.contact {
    width: 500px;
    margin: 0 auto;
    display: block;
    position: fixed;
    height: 500px;
    top: 50%;
    left: 50%;
    z-index: 2000;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}

.contact__header {
    padding: 30px;
}

.contact__header--title {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    width: 350px;
}

.contact__form {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.contact__form--name {
    display: inline-block;
    height: 30px;
    float: left;
    margin-bottom: 20px;
}

.contact__form--email {
    display: inline-block;
    height: 30px;
    float: right;
    margin-bottom: 20px;
}

.contact__form--description {
    display: block;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.contact__form--button {
    margin: 0 auto;
    display: block;
    height: 30px;
    width: 60px;
    margin-top: 20px;
}

.contact__button--close {
    background: none;
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    color: #333;
    font-size: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
    margin-right: 40px;
}

.button__show {
    height: 200px;
    width: 100%;
    text-align: center;
}

.button__show--contact {
    height: 100px;
    width: 200px;
    border: 1px solid #ddd;
    background: grey;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.overlay {
    background: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.5;
    z-index: 1000;
    display: none;
}

.footer {
    text-align: center;
    background-color: grey;
    padding: 30px;
}

.footer__text {
    margin-bottom: 10px;
}